<div class="row">
  <div class="col-sm-5">
    <ul>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">Lcation:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">About Address:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">City:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">Phone:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">To address:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <div class="form-group">
        <label for="exampleSelect1">Nature Protocol</label>
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleSelect1">Priority</label>
        <select class="form-control" id="exampleSelect1">
          <option>Normal</option>
          <option>Medium</option>
          <option>High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Synopsis</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleSelect1">Signal</label>
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">911 Contact:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">Reported by:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="inputDefault">Incident name:</label>
        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
      </div>
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="" checked=""> Now
      </label>
      <div class="form-group">
          <label for="exampleTextarea">Description:</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new
          line.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div class="form-group">
          <label class="col-form-label" for="inputDefault">File name:</label>
          <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
        </div>

    </ul>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-5">
    <app-maps></app-maps>
  </div>
  <div class="col-sm-1">
  </div>
</div>