<nav>
  <ul class="nav">
    <li><a [routerLink]="['/']">Situation</a></li>
    <li><a [routerLink]="['/new']">New</a></li>
    <li><a [routerLink]="['/units']">Units</a></li>
    <li><a [routerLink]="['/facilities']">Fac's</a></li>
    <li><a [routerLink]="['/search']">Search</a></li>
    <li><a [routerLink]="['/reports']">Reports</a></li>
    <li><a [routerLink]="['/configurtion']">Config</a></li>
    <li><a [routerLink]="['/chat']">Chat</a></li>
    <li><a [routerLink]="['/log']">Log</a></li>
    <li><a [routerLink]="['/road-conditions']">Road Cond</a></li>
    <li><a [routerLink]="['/full-screen']">Full Scr</a></li>
    <li><a [routerLink]="['/links']">Links</a></li>
    <li><a [routerLink]="['/board']">Board</a></li>
    <li><a [routerLink]="['/mobile']">Moblie</a></li>
  </ul>
  </nav>
  
  <router-outlet></router-outlet>