<nav [class]="style_css">
  <a class="navbar-brand" href="#">Tickets</a>
  <div style="margin-top:8px">
    <a style="margin-right:5px;color:rgb(165, 197, 247);">Jerusalem</a>
    <input type="radio" name="style" [checked]="check" (change)="onSelectionChange()"> 
    <label style="color:rgb(165, 197, 247)">Day</label>
    <input type="radio" name="style" [checked]="!check" (change)="onSelectionChange()">
    <label style="color:rgb(165, 197, 247)">Night</label>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Situation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/new']">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/units']">Units</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/facilities']">Fac's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reports']">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/configurtion']">Config</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/chat']">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/log']">Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/road-conditions']">Road Cond</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/full-screen']">Full Scr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/links']">Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/board']">Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/mobile']">Moblie</a>
      </li>
    </ul>

  </div>
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
</nav>

<router-outlet></router-outlet>